<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end %>

<div class="container">
  <div class="row">
     <div class="col-6">
      <h2>Please fill in your library card number and your password</h2>

        <%= form_with scope: :patron, local: true do |form| %>
          <p>
            <%= form.label :library_card_number %>
            <%= form.text_field :library_card_number, id: "library_card_number", class: "form-control" %>
          </p>

          <p>
            <%= form.label :password %>
            <%= form.password_field :password, id: "password", class: "form-control" %>
          </p>

          <p>
            <%= form.submit :Submit %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
