<h1>Sign Up for a Library Account</h1>

<h3><%= form_with scope: :patron do |form| %>
  <p>
    <%= form.label :First_Name %>
    <%= form.text_field :first_name%>
  </p>

  <p>
    <%= form.label :Last_Name %>
    <%= form.text_field :last_name%>
  </p>

  <p>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </p>

  <p>
    <%= form.label :password_confirmation, "Password Confirmation" %>
    <%= form.password_field :password_confirmation %>
  </p>

  <p>
    <%= form.label :pa_resident, "Check box if you are a Pennsylvania resident" %>
    <%= form.check_box :pa_resident %>
  </p>

  <p>
    <%= form.submit :Signup %>
  </p>

<% end %></h3>
