<body>
<br>
<h1 style="text-align: center">Sign Up for a Library Account</h1>

<div class="container">
  <div class="row">
    <div class="col-12">

    <h4><%= form_with scope: :patron, url: patrons_path, local: true do |form| %>

      <% if @patron.errors.any? %>
        <div id="error_explanation">
          <h3>
            <%= pluralize(@patron.errors.count, "error") %> prevented your account from being saved:
          </h3>
          <br>
            <ul>
              <% @patron.errors.full_messages.each do |msg| %>
               <li><%= msg %></li><br>
              <% end %>
            </ul>
        </div>
      <% end %>
        <div class="col-6" id="signUpForm">
          <p>
            <%= form.label :First_Name %><br>
            <%= form.text_field :first_name, class: "form-control" %>
          </p>

          <p>
            <%= form.label :Last_Name %><br>
            <%= form.text_field :last_name, class: "form-control" %>
          </p>

          <p>
            <%= form.label :password %><br>
            <%= form.password_field :password, class: "form-control" %>
          </p>

          <p>
            <%= form.label :password_confirmation, "Password Confirmation" %><br>
            <%= form.password_field :password_confirmation, class: "form-control" %>
          </p>

          <p>
            <%= form.submit :Signup %>
          </p>
        </div>
      <% end %></h4>
      </div>
    </div>
  </div>
</body>
