<p>
  <%= notice %>
</p>

<p>Hello, <%= @patron.name %>!</p>

<p>
  Here's your library card number:<h4><b><%= @patron.library_card_number %></b></h4> You'll need your library card number to login the next time you want to see your account!
</p>

<p>
  Here are the books you've checked out!<br>
</p>
<table>
  <tr>
    <th>Book Title</th>
    <th>Author</th>
    <th>Library</th>
    <th>Return Book</th>
  </tr>
  <% @book_loans.each do |loan| %>
    <tr>
      <td><%= loan.book.title %></td>
      <td><%= loan.book.author.author_name %></td>
      <td><%= loan.book.library.name %></td>
      <td>
        <%= form_with url: book_loan_path(loan.id), method: :patch, local: true do |f| %>
          <%= f.submit "Return this book" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<p>
  To get started checking out a book, first choose the library closest to you:<br><br>
  <b> NorthEastern Narnia </b><br>
    <% @ne_library_regions.each do |library| %>
      <br><%= link_to library.name, library_path(library) %><br>
    <% end %>
</p>
<p>
  <b> Southeastern Narnia </b><br>
    <% @se_library_regions.each do |library| %>
      <br><%= link_to library.name, library_path(library) %><br>
    <% end %>
</p>
<p>
  <b> Northwestern Narnia </b><br>
    <% @nw_library_regions.each do |library| %>
      <br><%= link_to library.name, library_path(library) %><br>
    <% end %>
</p>
  <b> Southwestern Narnia </b><br>
    <% @sw_library_regions.each do |library| %>
      <br><%= link_to library.name, library_path(library) %><br>
    <% end %>
</p>


<%= link_to "Logout", logout_path %>
