<p>
  <%= notice %>
</p>

<p>
  Hello, <%= @patron.name %>!
</p>
<p>
  Here's your library card number:<h4><b><%= @patron.library_card_number %></b></h4> You'll need your library card number to login the next time you want to see your account!
</p>

<p>
  To get started checking out a book, first choose your library:
  <%= form_with scope: :library do |form| %>
    <%= form.collection_select :library_id, Library.all, :id, :name %>
    <%= form.submit %>
  <% end %>
</p>

<%= link_to "Logout", logout_path %>
