<p><%= notice %></p>

<h3>Hello, <%= @patron.name %>!</h3>

<p>
  Here's your library card number:<h4><b><%= @patron.library_card_number %></b></h4> You'll need your library card number to login the next time you want to see your account!
</p>

<h4>Here are the books you've checked out!<br></h4>

<table class="table table-info">
  <thead>
    <tr>
      <th>Book Title</th>
      <th>Book Author</th>
      <th>Genre</th>
      <th>Library</th>
      <th>Return Book</th>
      <th>Book Details</th>
    </tr>
  </thead>
  <tbody>
    <% @book_loans.each do |loan| %>
      <tr>
        <td><%= loan.book.title %></td>
        <td><%= loan.book.author.author_name %></td>
        <td><%= loan.book.genre.name %></td>
        <td><%= loan.book.library.name %></td>
        <td>
          <%= form_with url: book_loan_path(loan.id), method: :patch, local: true do |f| %>
            <%= f.submit "Return this book" %>
          <% end %>
        </td>
        <td>
          <form action="/libraries/<%= loan.book.library_id %>/books/<%= loan.book.id %>" class="js-book-details" id="<%= loan.book.id %>" data-id="<%= loan.book.id %>">
            <button type="submit">Book Description</button>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="container">
  <div class="row">
    <h5>To get started checking out a book, first choose the library closest to you:</h5>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h5>
        <b><u>Northeastern Narnia </u></b><br>
        <% @ne_library_regions.each do |library| %>
          <br><%= link_to library.name, library_path(library) %><br>
        <% end %>
      </h5>
    </div>

    <div class="col-6">
      <h5>
        <b><u>Southeastern Narnia </u> </b><br>
        <% @se_library_regions.each do |library| %>
          <br><%= link_to library.name, library_path(library) %><br>
        <% end %>
      </h5>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-6">
      <h5>
        <b><u>Northwestern Narnia</u></b><br>
        <% @nw_library_regions.each do |library| %>
          <br><%= link_to library.name, library_path(library) %><br>
        <% end %>
      </h5>
    </div>

    <div class="col-6">
      <h5>
        <b><u> Southwestern Narnia </u></b><br>
        <% @sw_library_regions.each do |library| %>
          <br><%= link_to library.name, library_path(library) %><br>
        <% end %>
      </h5>
    </div>
  </div>
</div>

