<p>
  <%= notice %>
</p>

<p>Hello, <%= @patron.name %>!</p>

<p>
  Here's your library card number:<h4><b><%= @patron.library_card_number %></b></h4> You'll need your library card number to login the next time you want to see your account!
</p>

<p>
  Here are the books you've checked out!<br>
</p>
<table>
  <tr>
    <th>Book Title</th>
    <th>Author</th>
    <th>Library</th>
    <th>Return Book</th>
  </tr>
  <% @book_loans.each do |loan| %>
    <tr>
      <td><%= loan.book.title %></td>
      <td><%= loan.book.author.author_name %></td>
      <td><%= loan.book.library.name %></td>
      <td>
        <%= form_with url: book_loan_path(loan.id), method: :patch do |f| %>
          <%= f.submit "Return this book" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<p>
  To get started checking out a book, first choose the library closest to you:
<ol>
  <% Library.all.each do |library| %>
    <li>
      <%= link_to library.name, library_path(library) %><br>
      <%= library.street_address %><br>
      <%= library.city %>,
      <%= library.state %><br>
      <br>
    </li>
  <% end %>
</ol>


<%= link_to "Logout", logout_path %>
