<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Book Status</th>
    <th>Check Out</th>
  </tr>
  <% @books.each do |book| %>
    <tr>
      <td>
        <%= link_to book.title, library_book_path(@library, book) %>
      </td>
      <td><%= book.author.author_name %></td>
      <td><%= book.genre.name %></td>
      <td>
        <% if book.checked_out? %>
          <%= "Book already checked out!" %>
        <% else %>
          <%= "Available" %>
        <% end %>
      </td>
      <td>
        <% if !book.checked_out? %>
          <%= form_with(model: book.book_loans.build) do |f| %>
            <input type="hidden" name="book_id" value="<%= book.id %>" />
            <%= f.submit "Check out this book" %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

