<br><h2>Donate a Book!</h2>

<div class="book_donation">

<%= form_with(model: [@library, @book], data: { turbolinks: false }) do |f| %>

  <% if @book.errors.any? %>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
  <% end %>
  <% else %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, id: "book_title" %>
  </p>
  <%= f.fields_for :author, @author do |ff| %>
    <p>
      <%= ff.label "Author's first name" %>
      <%= ff.text_field :first_name, id: "author_first_name" %><br>
    </p>
    <p>
      <%= ff.label "Author's last name" %>
      <%= ff.text_field :last_name, id: "author_last_name" %><br>
    </p>
  <% end %>
    <p class="form-group">
    <%= f.label :genre %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name %>
    </p>
    <%= hidden_field_tag(:library_id, @library.id) %>
    <%= hidden_field_tag(:patron_id, session[:patron_id]) %>
    <%= hidden_field_tag(:book_loans, @book.book_loans) %>
  <%= f.submit %>
<% end %>
</div>

<div class="postResults"></div>
