<h2>Donate a Book!</h2>

<%= form_with(model: [@library, @book]) do |f| %>

  <% if @book.errors.any? %>
    <div id="error_explanation">
         <h2>
          <%= pluralize(@book.errors.count, "error") %> prohibited your book from being saved:
         </h2>
          <ol>
         <% @book.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
         <% end %>
          </ol>
        </div>
  <% end %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <%= f.fields_for :author, @author do |ff| %>
    <p>
      <%= ff.label "Author's first name" %>
      <%= ff.text_field :first_name %><br>
    </p>
    <p>
      <%= ff.label "Author's last name" %>
      <%= ff.text_field :last_name %><br>
    </p>
  <% end %>
  <%= f.submit %>
<% end %>

