<h2>Donate a Book!</h2>

<div class="book_donation">

<%= form_with(model: [@library, @book]) do |f| %>

  <% if @book.errors.any? %>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
  <% end %>
  <% else %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <%= f.fields_for :author, @author do |ff| %>
    <p>
      <%= ff.label "Author's first name" %>
      <%= ff.text_field :first_name %><br>
    </p>
    <p>
      <%= ff.label "Author's last name" %>
      <%= ff.text_field :last_name %><br>
    </p>
  <% end %>
    <p>
    <%= f.label :genre %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name %>
    </p>
    <%= hidden_field_tag(:library_id, @library.id) %>
  <%= f.submit %>
<% end %>
</div>

