<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Library</th>
    <th>Check Out</th>
  </tr>
  <tr>
    <th><%= @book.title %></th>
    <th><%= @book.author.author_name%></th>
    <th><%= @book.genre.name %></th>
    <th><%= @libraries.name %></th>
    <th>
    <% if !@book.checked_out? %>
          <%= form_with(model: @book.book_loans.build) do |f| %>
            <input type="hidden" name="book_id" value="<%= @book.id %>" />
            <%= f.submit "Check out this book" %>
          <% end %>
        </th>
      <% end %>
  </tr>
</table>

