<div class="col-sm-6">
  <div class="card">
    <h3 class="card-header"><%= @book.title %></h3>
    <div class="card-body">
      <dl class="row">
        <dt class="col-6">Author</dt>
        <dd class="col-6"><%= @book.author.author_name %></dd>
        <dt class="col-6">Genre</dt>
        <dd class="col-6"><%= @book.genre.name %></dd>
        <dt class="col-6">Description</dt>
        <dd class="col-6"><%= @book.description %></dd>
        <dt class="col-6">Library</dt>
        <dd class="col-6"><%= @libraries.name %></dd>
      </dl>
    </div>
  </div>
</div>


