<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/3cbf063335.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container-fluid">
        <% if !current_patron %>
          <a class="navbar-brand mr-auto" href="/"><span style=""><i class="fa fa-home"></i> Home </span></a>
          <a class="navbar-brand ml-0" data-toggle="modal" data-target="#loginModal"/><span style=""><i class="fa fa-sign-in"></i> Login </span></a>
          <a class="navbar-brand ml-0" href="/patrons/new"><span style=""><i class="fas fa-user-plus"></i> Sign up </span></a>
        <% else %>
          <a class="navbar-brand mr-auto" id="<%= session[:patron_id] %>" href="<%= patron_path(session[:patron_id]) %>"/><span class="fas fa-book-reader"></span> Patron Account</a>
          <a class="navbar-brand ml-0" href="<%= logout_url %>"><span class="fas fa-sign-out-alt"></span> Logout</a>
        <% end %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

        </ul>
      </div><!--/.nav-collapse -->
    </nav>

    <%= render "/layouts/signin" %>

    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>

     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</body>
</html>
